body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1920x1080/?landscape');
    font-size: 120%;
    font-family: 'Poppins', sans-serif;
  }
  
  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }

  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  .date-time{
      padding-bottom: 5px;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  .card1{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
  }

  .card1 .day1 , .day2, .day3{
    line-height: 2.2em;
    width: 32.5%;
    background-color: #939db330;
    height: 110px;
    border-radius: 10px;
  }
.day-forecast{
    font-size: 18px;
}
  .day{
      text-align: center;
      font-size: 16px;
  }
  